@charset "UTF-8";
/* CSS Document */
*{
	list-style: none;
	text-decoration: none;
}
.nav{
	width: 100%;
	
	
	
	
}
.nav li{
	display: inline;
}



#btn {
	overflow: hidden;
	margin-bottom: 40px;
}

#btn li {
	float: left;
	margin: 10px;
	cursor: pointer;
}

#animationList {
	overflow: hidden;
}

body {
	background-color: #f6f6f6;
}
#wrapper {
	width: 940px;
	margin: 0 auto;
	color: #7d7d7d;
	padding-bottom: 20px;
}



.alpha {
    display:inline-block;
    zoom: 1;
    line-height: 1;
}

.alpha:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.active {
	background-color: #d2d2d2;
}

#btn {
	overflow: hidden;
	margin-bottom: 40px;
}

#btn li {
	float: left;
	margin: 10px;
	cursor: pointer;
}

#animationList {
	width: 940px;
	overflow: hidden;
}
#animationList img{
	float: left;
	padding: 10px;
}

.sample1 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 30%;
	
}
.sample2 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 60%;
	
}
.sample3 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 57%;
	
}
.sample4 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 20%;
	
}
.sample4 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 20%;
	
}
.sample4 img {
	width:290px; height:200px;
	object-fit:cover;
	object-position:50% 20%;
	
}

.front img{
	
	width: 100%;
	height: 100%;
}

.top{
	position: relative;
}
.top h2{
	position: absolute;
	top: 35%;
	left: 3%;
}
.top ul{
	position: absolute;
	top: 50%;
	display: inline;
	
}

header h2{
	color:aliceblue;
	font-size: 2em;
}

.nav li{
	color: aliceblue;
	display:inline;
	
}

.top{
	position: relative;
}
.top h2{
	position: absolute;
	top: 35%;
	
}
.top ul{
	position: absolute;
	top: 50%;
	
}
.top img{
	width: 100%;
	height: 100%;
}
.nav h2{
	color:aliceblue;
	font-size: 2em;
}

.nav li{
	color: aliceblue;
	display:inline;
	
}

.profile h2,h4{
	margin-left: 200px;
	margin-top: 50px;
}
.formm

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
.formm{
	float: left;
	margin-left: 180px;
	
}
.wrap{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 500px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    width: 100%;
    background-color: #4B99AD;
    color: #fff;
    text-align: center;
    padding: 30px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

a:link, a:visited, a:hover, a:active {
  color: aliceblue;
}
